// tenho que importaar esse main pra todo lado 
.main {
    height: 100vh;
    .login {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        .content-login {
            width: 600px;
            height: 450px;
            background: paleturquoise;
            border-bottom: 7px;
            header {
                width: 100%;
                display: flex;
                justify-content: center;
                h1 {
                    color: white;
                }
            }
        }
    }
}
 